<!DOCTYPE html>
<html>
<head>
    <title>Green Light</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="George Doge and Dwin Doge controlling traffic lights">
    <meta name="author" content="George Doge and Dwin Doge">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" type="image/png" href="assets/img/Traffic-Light-icon.png">
</head>
<body>
    
    <main>
        
        <!-- main traffic light widget -->
        <div class="row">
            <div id="traffic-light">
                <a href="{{ url_for('turn_on_light', light_name='red') }}"><button id="red-light" class="light red-off"></button></a>
                <hr>
                <a href="{{ url_for('turn_on_light', light_name='yellow') }}"><button id="yellow-light" class="light yellow-off"></button></a>
                <hr>
                <a href="{{ url_for('turn_on_light', light_name='green') }}"><button id="green-light" class="light green-on"></button></a>
            </div>
        </div>
        
    </main>
        
</body>
</html>