<!DOCTYPE html>
<html>
<head>
    <title>Green Light</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="George Doge and Dwin Doge controlling traffic lights">
    <meta name="author" content="George Doge and Dwin Doge">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='Traffic-Light-icon.png') }}">
</head>
<body>
    
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img id="main-logo" src="/static/grn_lite_cover.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
    <main>
      
        <!-- main traffic light widget -->
        <div class="row">
            <div id="traffic-light">
                <a href="{{ url_for('lightOn', light_name='red') }}"><button id="red-light" class="light red-on"></button></a>
                <hr>
                <a href="{{ url_for('lightOn', light_name='yellow') }}"><button id="yellow-light" class="light yellow-off"></button></a>
                <hr>
                <a href="{{ url_for('lightOn', light_name='green') }}"><button id="green-light" class="light green-off"></button></a>
            </div>
        </div>
        
    </main>
    
    <script src="/static/jquery-2.1.4.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
</body>
</html>